<div class="allPage">
	<div class="text">
		<h2>Regulamin</h2>
		Korzystając z aplikacji wyrażasz zgodę na warunki zapisane w regulaminie,<br />
		oraz zobowiązujesz się do jego przestrzegania.<br />
		<br /><br />
		<h3>1.Konto</h3>
		-wymagane jest wprowadzenie prawdziwych danych osobistych (tj.imię i nazwisko)<br />
		-wymagane aby posiadacz miał tylko jedno osobiste konto<br /><br />
		<h3>2.Kultura</h3>
		-zabrania się obrażania użytkowników, używania wulgaryzmów, szerzenia treści nieprawdziwych lub szkodliwych
		itp.<br /><br />
		<h3>3.Bezpieczeństwo</h3>
		-zabrania się udostępnianie hasła, oraz przenoszenia profilu na inne osoby<br />
		-zabrania się wysyłania wirusów oraz złośliwego kodu<br /><br />
		<h3>4.Tworzenie treści</h3>
		-tworząc treści w aplikacji użytkownik udziela twórcy zbywalnej licencji na treści dodane przez niego, w celu
		prawidłowego działania aplikacji<br />
		-licencja traci ważność poprzez usunięcie przez użytkownika treści<br /><br />
		<h3>5.Przechowywanie danych</h3>
		-wykorzystywane przez aplikacje dane użytkownika zostają usunięte automatycznie wraz z usunięciem przez niego
		konta<br />

	</div>

</div>