.allPage{
	padding: 20px;
	position: relative;
	
	form {
		margin: auto;		
		max-width: 800px;
		min-width: 200px;
		mat-form-field{
			width:100%;
		}
		textarea{
			max-height: 200px;
			min-height: 50px;
		}
	}
	 
	button {
		width: 200px;
	}

	.error{
		color: rgb(192, 11, 11);
	}
}
 